@import "components/__components";
@import "pages/__pages";

/* body {
  padding: 0;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 2em 0;
} */

.wrapper {
  margin: 2rem auto;
  max-width: 75%;

  p {
    width: 75%;
    @media (max-width: 500px) {
      width: 100%;
    }
  }
}

body {
  margin: 0;
  background-color: #f8f8f8;
}